* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
}

.header {
  border-bottom: 1px solid #00000014;
}
.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 100px;
}
.header-inner img {
  width: 280px;
  max-width: 280px;
  height: 48px;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 5px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-menu img {
  max-width: 100% ;
}
.container {
  padding: 0 100px;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
}
.footer-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  color: #000000DE;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}
.main-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.main-content {}

@media (max-width: 1200px) {
  .container {
    padding: 0 24px;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 0 12px;
  }
}